<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>ANDREW'S VINYLS</title>
    <link rel="icon" type="image/gif" href="spinningVinyl.gif">
    <style>
        @font-face {
            font-family: "Bubble";
            src: url("bubbleFont.otf") format("truetype");
        }
        html {
            background-color: rgb(255,239,226,255);
            font-size: larger;
            font-family: "Bubble", sans-serif;
            text-align: center;
        }
        h1 {
            text-align: center;
            color: #f8f4f4;
            text-shadow: 
                -5px 0px 0 #2c2b2b,
                -5px 1px 0 #2c2b2b,
                -5px 2px 0 #2c2b2b,
                -5px -1px 0 #2c2b2b,
                1px 0px 0 #2c2b2b;
        }
        #album {
            text-align: left;
            display: block;
            margin: 0 auto;
            border: 7px solid #2c2b2b;
            border-radius: 75px;
            height: 500px;
            width: 750px;
            overflow-y: scroll;
        }
        #album::-webkit-scrollbar {
            width: 12px;
        }
        #album::-webkit-scrollbar-thumb {
            background-color: rgb(80,165,59); 
            border: 4px solid #2c2b2b;
            border-radius: 200px; 
        }
        #album::-webkit-scrollbar-track {
            background-color: rgb(242,83,54);
            border-radius: 20px;
            border: 4px solid #2c2b2b;
            margin: 60px;
        }
        .titleImage {
            width: 100%;
        }
        .albumCover {
            width: 150px;
            margin-right: 50px;
            border-radius: 10px;
            border: 2px solid #2c2b2b;
            filter: drop-shadow(-2px 2px 0px #2c2b2b);
        }
        .checkoutAlbum {
            background-color: rgb(178,123,190);
            box-shadow: -2px 2px 0px #2c2b2b;
            color: #f8f4f4;
            border-radius: 50px;
            padding: 20px;
            margin: 40px;
            text-shadow: 
                -2px -1px 0 #2c2b2b,
                -2px 0px 0 #2c2b2b,
                -2px 2px 0 #2c2b2b;
            border: 2px solid #2c2b2b;
        }
        #albumMain {
            display: flex;
            align-items: center;
        }
        input[type="text"] {
            border: 2px solid #2c2b2b;
            border-radius: 15px;
            padding: 5px; 
            box-shadow: -1px 1px 0px #2c2b2b;
        }
        input[type="submit"] {
            margin-left: 60px;
            cursor: pointer;
        }
        #name {
            margin-left: 75px;
            width: 450px;
        }
        #email {
            width: 450px;
        }
        #address {
            margin-left: 52px;
            width: 450px;
        }
        #submit {
            font-family: "Bubble", sans-serif;
            color: rgb(80,165,59);
            text-shadow: 
                -2px -1px 0 #2c2b2b,
                -2px 0px 0 #2c2b2b,
                -2px 2px 0 #2c2b2b;
            background-color: rgb(242,83,54);
            border: 2px solid #2c2b2b;
            padding: 10px;
            border-radius: 25px;
            box-shadow: -2px 2px 0px #2c2b2b;
            font-size: large;
        }
    </style>
</head>

<body>
    <h1><em>Checkout</em></h1>
    <br>
    <div id="album">
        <div class="checkoutAlbum" id="albumMain">
                <%- image %>
                <%- album %> - <%- artist %>
            <br> 
        </div>
        <div class="checkoutAlbum">
            <br>
            Release Date: <%- release %>
            <br><br>
            Number of Songs: <%- number %>
            <br><br>
            Length: <%- length %>
            <br><br>
            Tracklist:
            <br>
            <%- tracks %>
            <br><br>
        </div>
        <div class="checkoutAlbum" id="checkoutForm">
            <br>
            <form action="/confirmation" method="post">
                Order Form: <br><br>
                Name: <input type="text" id="name" name="name"><br><br>
                Email Address: <input type="text" id="email" name="email"><br><br>
                Address: <input type="text" id="address" name="address"><br><br><br>
                <input type="submit" id="submit" value="Purchase" style="width: 500px;">
            </form>
            <br>
        </div>
    </div>
    <br><br>
    <img src="titleImage.jpeg" alt="Title Image" class="titleImage">
    <script>

    </script>
</body>

</html>
